<div class="row mt-5 justify-content-center">
    <div class="col-12">
        <fieldset>
            <legend>Cartes</legend>
            <div class="row" id="inventory">
                <ng-container *ngFor="let inventory of heroInventory">
                    <div *ngIf="inventory.type === 'card' && inventory.amount > 0" class="col-1 pop" data-bs-toggle="popover" data-bs-trigger="hover" [attr.bs.title]="inventory.name" [attr.bs.content]="inventory.description">
                        <img class="img-thumbnail" src="../../../../assets/images/items/cards/{{inventory.name}}.png" alt="{{inventory.name}}" />
                        <p class="text-dark text-center">x{{inventory.amount}}</p>
                    </div>
                </ng-container>
            </div>
        </fieldset>
    </div>
</div>