
<div class="col-3 mt-5">
     <input class="mb-2" type="text" [value]="name"  id="name" (change)="filterByName($event)">
     <ngx-slider style="margin-bottom: 10%;" [(value)]="min" [(highValue)]="max" [options]="options"></ngx-slider>
     <div class="row">
      <div class="col-6">
        <button class="btn btn-secondary" (click)="onClikPrice()">ApplyPrice</button>
      </div>
     <div class="col-6 text-end my-3">
      <a (click)="showDropdown()" id="drop" class="dropdown" data-bs-toggle="dropdown" href="#">
        <i class="bi bi-filter mx-2 text-dark"></i>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item btn" value="true" (click)="nameTri($event)" type="button">Name Asc</button></li>
          <li><button class="dropdown-item btn" value="false" (click)="nameTriDesc($event)" type="button">Name Desc</button></li>
          <li><button class="dropdown-item btn" value="true" (click)="priceTri($event)"  type="button">Price asc</button></li>
          <li><button class="dropdown-item btn" value="false" (click)="priceTriDesc($event)" type="button">Price Desc</button></li>
        </ul>
      </a>
    </div>
    
    <div class="form-group form-check">
        <label>
        <input type="checkbox" [value]="0" id="Hero" class="form-check-input" (change)="onCheckboxAll($event)" />
         Hero</label>
         <br />
         <label>
        <input type="checkbox" [value]="1" id="Armor" class="form-check-input" (change)="onCheckboxAll($event)" />
        Armure</label>
        <br />
        <label>
        <input type="checkbox" [value]="2" id="Weapon" class="form-check-input" (change)="onCheckboxAll($event)" />
        Arme</label>
    </div>
    <div>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
    </div>
</div>
</div> 
<div class="col-9">
  <div class="row">
    <ng-template ngFor let-c [ngForOf]="tabFiltred">
      <app-card  [class]="format" [big]="false" [name]="c.name" [price]="c.price" [png]="c.iconurl" [id]="c.id" [type]="c.type">
      </app-card>
    </ng-template>
  </div>
</div>