<div id="carousel" class="row text-center d-flex " style="min-height: 560px">
    <div class="col-12 mb-3">
        <h1>Meilleur Ventes</h1>
    </div>

    <div class="col-2 align-self-end mycarousel order-1" data-my-position="-2">
        <div>
            <div class="card" *ngIf="high[0]">
                <img src="../../../../assets/images/{{high[0].type}}/{{high[0].iconurl}}.png" class="card-img-top bg-secondary" alt="image">
                <div class="card-body">
                    <a class="text-decoration-none" routerLink="/product/{{high[0].type}}/{{high[0].id}}"><h4 class="card-title text-dark">{{high[0].name}}</h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 align-self-center mycarousel order-2" data-my-position="-1">
        <div>
            <div class="card" *ngIf="high[1]">
                <img src="../../../../assets/images/{{high[1].type}}/{{high[1].iconurl}}.png" class="card-img-top bg-secondary" alt="image">
                <div class="card-body">
                    <a class="text-decoration-none" routerLink="/product/{{high[1].type}}/{{high[1].id}}"><h4 class="card-title text-dark">{{high[1].name}}</h4></a>
                </div>
            </div>
        </div></div>
    <div class="col-4 align-self-start mycarousel order-3" data-my-position="0">
        <div>
            <div class="card" *ngIf="high[2]">
                <img src="../../../../assets/images/{{high[2].type}}/{{high[2].iconurl}}.png" class="card-img-top bg-secondary" alt="image">
                <div class="card-body">
                    <a class="text-decoration-none" routerLink="/product/{{high[2].type}}/{{high[2].id}}"><h4 class="card-title text-dark">{{high[2].name}}</h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 align-self-center mycarousel order-4" data-my-position="1">
        <div>
            <div class="card" *ngIf="high[3]">
                <img src="../../../../assets/images/{{high[3].type}}/{{high[3].iconurl}}.png" class="card-img-top bg-secondary" alt="image">
                <div class="card-body">
                    <a class="text-decoration-none" routerLink="/product/{{high[3].type}}/{{high[3].id}}"><h4 class="card-title text-dark">{{high[3].name}}</h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 align-self-end mycarousel order-5" data-my-position="2">
        <div>
            <div class="card" *ngIf="high[4]">
                <img src="../../../../assets/images/{{high[4].type}}/{{high[4].iconurl}}.png" class="card-img-top bg-secondary" alt="image">
                <div class="card-body">
                    <a class="text-decoration-none" routerLink="/product/{{high[4].type}}/{{high[4].id}}"><h4 class="card-title text-dark">{{high[4].name}}</h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-5 text-center order-last">
        <button class="btn" id="bLeft"><-----</button>
        <button class="btn" id="bRight">------></button>
    </div>
</div>
