<div class="container">
    <!--Titre-->
    <div class="row">
        <div class="col-12">
            <h2 class="fw-bold">Panier</h2>
        </div>
    </div>
    <div class="row" >
        <div class="col-12 col-md-7">
            <!--Row du Panier-->
            <div class="row me-md-1 mb-3 mb-md-0">
                <div class="col-12">
                    <h3 class="fw-bold">List de produits</h3>
                    <div class="row">
                        <div class="col-6 justify-content-start">
                            <p>Items</p>
                        </div>
                        <div class="d-flex col-6 justify-content-around">
                            <p>prix</p>
                            <p>Qty</p>
                            <p>Total</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-1">
                    <ng-container *ngIf="cart.savedHero == null; else elseSavedHero">
                        <app-product-row (removeItemEvent)="removeItem($event)" *ngIf="cart.hero != null" [product]="cart.hero"></app-product-row>
                        <app-product-row (removeItemEvent)="removeItem($event)" *ngIf="cart.staticWeapon != null" [product]="cart.staticWeapon"></app-product-row>
                        <app-product-row (removeItemEvent)="removeItem($event)" *ngIf="cart.staticArmor != null" [product]="cart.staticArmor"></app-product-row>
                    </ng-container>
                    <ng-template #elseSavedHero>
                        <app-product-row (removeItemEvent)="removeItem($event)" [product]="cart.savedHero!"></app-product-row>
                    </ng-template>
                    <ng-container *ngFor="let inventory of cart.inventory">
                        <app-product-row (removeItemEvent)="removeItem($event)" [product]="inventory"></app-product-row>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5"><!--Order Summary-->
            <div class="row">
                <h3 class="fw-bold">Order Summary</h3>
                <div class="d-flex justify-content-between col-12">
                    <p class="fw-lighter">Total</p>
                    <p>{{getTotalPrice()}} bg</p>
                </div>
                <div class="col-12 mb-2">
                    <div class="row">
                        <div class="col-6">
                            choisir la difficulté :
                        </div>
                        <div class="col-6">
                            <ng-container *ngFor="let stage of cart.stages; index as i">
                                <div class="row mb-2">
                                    <div class="col-10">
                                        niveau {{i}} : difficulté {{stage}}
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-danger" (click)="removeStage(i)"><i class="bi bi-trash"></i></button>
                                    </div>
                                </div>
                            </ng-container>
                            <select class="form-select" (change)="addStage($event)">
                                <option>choisir ...</option>
                                <option value="{{i+1}}" *ngFor="let _ of [].constructor(50), index as i">{{i+1}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center col-12">
                    <button (click)="buy()" type="button" class="btn btn-dark" style="--bs-btn-padding-y: 1rem; --bs-btn-padding-x: 4rem; --bs-btn-font-size: 1rem;">Payer</button>
                </div>
                <div class="d-flex justify-content-center input-group mt-2">
                    <button type="button" class="btn btn-outline-secondary">Apply Coupon Code</button>
                    <input type="text" class="form-control" placeholder="Enter your code here">
                </div>
            </div>

        </div>
    </div>
</div>