<div class="container" *ngIf="profil">
        <div class="row gutters-sm my-3">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{profil.pseudo}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profil.lastName}} {{profil.firstName}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Pseudo</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profil.pseudo}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Blackgold</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profil.blackgold}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profil.email}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-container  *ngFor="let save of profil.saves">
                <div class="col-12 col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>nom du hero</td>
                                            <td>{{getHero(save)!.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>vie du hero</td>
                                            <td>{{getHero(save)!.stats.hp}}</td>
                                        </tr>
                                        <tr>
                                            <td>blackgold</td>
                                            <td>{{getHero(save)!.stats.blackgold}}</td>
                                        </tr>
                                        <tr>
                                            <td>nombre d'enemy restant</td>
                                            <td>{{save.boards[save.currentBoard].personages.length-1}}</td>
                                        </tr>
                                        <tr>
                                            <td>niveau de difficulté</td>
                                            <td>{{save.boards[save.currentBoard].powerLevel}}</td>
                                        </tr>
                                        <tr>
                                            <td>nombre de stage restant</td>
                                            <td>{{save.boards.length-save.currentBoard}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="text-center">
                                                <a routerLink="/game/{{save.id}}" class="btn btn-secondary">jouer</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </ng-container>
        </div>
</div>
