<div class="row mt-2">
    <div class="d-flex col-6">
        <div>
            <img *ngIf="isPersonage(product)" src="../../../../assets/images/personage/{{product.iconURL}}.png" width="100" class="img-thumbnail-article" alt="img article" >
            <img *ngIf="isWeapon(product)" src="../../../../assets/images/weapon/{{product.iconURL}}.png" width="100" class="img-thumbnail-article" alt="img article" >
            <img *ngIf="isArmor(product)" src="../../../../assets/images/armor/{{product.iconURL}}.png" width="100" class="img-thumbnail-article" alt="img article" >
        </div>
        <div class="ms-3 mt-2">
            <p>{{product.name}}</p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-dark"><i class="bi bi-heart"></i></button>
                <button type="button" (click)="removeItem()" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
            </div>
        </div>
    </div>
    <div class="d-flex col-6 justify-content-center">
        <p>{{product.price}}</p>
        <!--Btn de Qte-->
        <div class="input-group ms-3 w-20 mx-2">
            <button class="btn btn-outline-secondary" (click)="changeQuantity(-1)" type="button" id="quantity-">-</button>
            <input type="number" class="form-control text-center" value="{{quantity}}" id="quantity" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <button class="btn btn-outline-secondary" (click)="changeQuantity(1)" type="button" id="quantity+">+</button>
        </div>
        <p>{{product.price!*quantity}}</p>
    </div>
</div>