<ng-template [ngIf]="big" [ngIfElse]="medium">
    <div class="col-12 my-3">
        <div class="card text-center" style="width: 20rem;">
            <div class="card-body" [style.background-image]="'url(../../../../assets/images/'+type+'/'+png+'.png)'" style="background-repeat: no-repeat; background-position: center;background-size: cover; height: 15rem;">
                <div class="text-end">
                    <!--Implementer ces deux méthodes-->
                    <button class="btn shadow-none"(click)="addWishList()"><i class="bi bi-heart" style="font-size: 1.5rem;"></i></button>
                    <button class="btn shadow-none" (click)="addArticle()"><i class="bi bi-cart" style="font-size: 1.5rem;" data-bs-toggle="modal" data-bs-target="#addModal"></i></button>
                </div>
            </div>
            <div class="card-footer">
                <a routerLink="/product/{{type}}/{{id}}" class="text-decoration-none text-muted  d-flex justify-content-between">
                <span class="h4 text-dark">{{name}}</span>
                <span>{{price}}</span>
                </a>
            <div class="text-start">
                <a routerLink="/product/{{type}}/{{id}}" class="card-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#detailBob">Détail</a>
            </div>
        </div>
        </div>
    </div>

</ng-template>
<ng-template #medium>
    <div  class="col-12 my-3"><!--Card medium taille-->
        <div class="card text-center" style="width: 15rem;">
            <div class="card-body" [style.background-image]="'url(../../../../assets/images/'+type+'/'+png+'.png)'" style="background-repeat: no-repeat; background-position: center;background-size: cover; height: 15rem;">
                <div class="text-end">
                    <button class="btn shadow-none"(click)="addWishList()"><i class="bi bi-heart" style="font-size: 1.5rem;"></i></button>
                    <button class="btn shadow-none" (click)="addArticle()"><i class="bi bi-cart" style="font-size: 1.5rem;" data-bs-toggle="modal" data-bs-target="#addModal"></i></button>
                </div>
            </div>
            <div class="card-footer">
                <a routerLink="/product/{{type}}/{{id}}" class="text-decoration-none text-muted  d-flex justify-content-between">
                    <span class="h4 text-dark">{{name}}</span>
                    <span>{{price}}</span>
                </a>
                <div class="text-start">
                    <a routerLink="/product/{{type}}/{{id}}" class="card-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#detailBob">Détail</a>
                </div>
            </div>
        </div>
    </div>
</ng-template>

