
<div class="modal fade" id="modalLoot" tabindex="-1" aria-labelledby="modalLoot">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ajout effectué</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-body" >                
            <h2 class="fs-5" >Item Drop</h2>

            <ng-template [ngIf]="notification.value != null && isWeapon(notification.value)">
                <div>
                    <img  src="../../../../assets/images/weapon/{{notification.value.iconURL}}.png" width="200" class="img-thumbnail-article" alt="img article" >
                </div>
                <div>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Nom</td>
                                <td>{{notification.value.name}}</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>{{notification.value.description}}</td>
                            </tr>
                        <tr>
                            <td>Dommage de l'arme</td>
                            <td>{{notification.value.damage}}</td>
                        </tr>
                        <tr>
                            <td>distance minimum d'attaque</td>
                            <td>{{notification.value.minRange}}</td>
                        </tr>
                        <tr>
                            <td>distance maximum d'attaque</td>
                            <td>{{notification.value.maxRange}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <button class="btn btn-danger" data-bs-dismiss="modal" (click)="this.refused()">Refuser</button>
                        <button class="btn btn-info" data-bs-dismiss="modal" (click)="this.acceptedArmor()">Accepter</button>
                    </div>
                </div>
            </ng-template>
            <ng-template [ngIf]="notification.value != null && isArmor(notification.value)">
                <div>
                    <img  src="../../../../assets/images/armor/{{notification.value.iconURL}}.png" width="200" class="img-thumbnail-article" alt="img article" >
                </div>
                <div>
                    <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Nom</td>
                            <td>{{notification.value.name}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{notification.value.description}}</td>
                        </tr>
                        <tr>
                            <td>defence</td>
                            <td>{{notification.value.defence}}</td>
                        </tr>
                        </tbody>
                        </table>
                        <div>
                            <button class="btn btn-danger" data-bs-dismiss="modal" (click)="this.refused()">Refuser</button>
                            <button class="btn btn-info" data-bs-dismiss="modal" (click)="this.acceptedWeapon()">Accepter</button>
                        </div>
                </div>
            </ng-template>

        </div>
    </div>
  </div>
</div>