<nav class="navbar navbar-expand-lg bg-secondary bg-opacity-50">
    <div class="container-fluid">
        <div class="row justify-content-between w-100">
            <div class="col">
                <div>
                    <a class="navbar-brand" routerLink="/"><img src="https://institut-seltene-erden.de/wp-content/uploads/2019/11/Magnitogorsk_Iron_and_Steel_Works_logo.png" width="30" height="24" alt="Mutant-Mazout-Killer"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="col">
                <div>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                            <a class="nav-link" routerLink="/search/hero">Hero</a>
                            <a class="nav-link" routerLink="/search/weapon">Arme</a>
                            <a class="nav-link" routerLink="/search/armor">Armure</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col text-end w-100 d-flex justify-content-end">

                <a routerLink="/search"><i class="bi bi-search mx-2 text-dark" style="font-size: 20px"></i></a>

                <a id ="navDrop" (click)="showDrop()" class="dropdown" data-bs-toggle="dropdown" href="#">
                    <i class="bi bi-person mx-2 text-dark" style="font-size: 20px"></i>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item btn" *ngIf="!currentAuth?.connected" routerLink="/login">Connexion</button></li>
                        <li><button class="dropdown-item btn" *ngIf="currentAuth?.connected" routerLink="/profil">{{currentAuth?.user?.pseudo}}</button> </li>
                        <hr>
                        <li><button class="dropdown-item btn" *ngIf="!currentAuth?.connected" routerLink="/register">Inscription</button></li>
                        <li><span class="dropdown-item btn" *ngIf="currentAuth?.connected">{{currentAuth?.user?.blackgold}} bg</span></li>
                    </ul>
                </a>

                <a><i class="bi bi-heart mx-2 text-dark" style="font-size: 20px"></i></a>
                <a routerLink="/buy"><i class="bi bi-cart mx-2 text-dark" style="font-size: 20px"></i></a>
            </div>
        </div>
    </div>
</nav>
