<div class="row mt-5 justify-content-center">
    <div class="col-12">
        <fieldset>
            <legend>Inventaire</legend>
            <div class="row" id="inventory">
                <ng-container *ngFor="let inventory of heroInventory">
                    <div *ngIf="inventory.type === 'consumable' && inventory.amount > 0" class="col-1 pop" data-bs-toggle="popover" data-bs-trigger="hover" [attr.bs.title]="inventory.name" [attr.bs.content]="inventory.description">
                        <div (click)="consume(inventory.idItem)" style="cursor: pointer">
                            <img class="img-thumbnail" src="../../../../assets/images/items/consumables/{{inventory.iconurl}}.png" alt="{{inventory.name}}" />
                            <p class="text-dark text-center">x{{inventory.amount}}</p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </fieldset>
    </div>
</div>