<div class="row justify-content-center mt-5">
    <div class="col-2 offset-1"><button (click)="attackClick()" class="btn btn-dark color-light" id="attack">attack</button></div>
    <div class="col-1"><button (click)="moveClick(-1)" class="btn btn-dark color-light" id="moveLeft"><i class="bi bi-arrow-left-square-fill"></i></button></div>
    <div class="col-1"><button (click)="moveClick(1)" class="btn btn-dark color-light" id="moveRight"><i class="bi bi-arrow-right-square-fill"></i></button></div>
    <div class="col-2"><button (click)="blockClick()" class="btn btn-dark color-light" id="block"><i class="bi bi-shield-fill"></i></button></div>
    <div class="col-2"><button (click)="jumpClick()" class="btn btn-dark color-light" id="jump"><i class="bi bi-arrow-up-square-fill"></i></button></div>
    <div class="col-2"><button (click)="playClick()" class="btn btn-danger" id="end"><i class="bi bi-x-lg"></i></button></div>
</div>