
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Ajout effectué</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-body" >                
                <h2 class="fs-5" >{{notification.name}}</h2>
                <img *ngIf="notification.type && notification.value" alt="probleme de chargement" src="../../../../assets/images/{{notification.type}}/{{notification.value}}.png" style="width: 20rem;" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Poursuivre vos achats</button>
              <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" routerLink="/buy" >Acheter</button>
          </div>
        </div>
      </div>
</div>
