 <div class="d-flex align-items-center h-100">
        <div class="container h-100 my-3">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h3 class="text-uppercase text-center mb-5">Créer un compte</h3>

                            <form (ngSubmit)="onSubmit()" [formGroup]="inscriptionDto">
                                <!-- LastName input -->
                                <div class="form-floating mb-4">
                                    <input formControlName="lastName" type="text" id="formName" class="form-control form-control-lg" placeholder=" " />
                                    <label class="form-label" for="formName">Nom</label>
                                </div>

                                <!-- FirstName input -->
                                <div class="form-floating mb-4">
                                    <input formControlName="firstName" type="text" id="formFirstName" class="form-control form-control-lg" placeholder=" " />
                                    <label class="form-label" for="formFirstName">Prenom</label>
                                </div>

                                <!-- Username input -->
                                <div class="form-floating mb-4">
                                    <input formControlName="pseudo" type="text" id="formPseudo" class="form-control form-control-lg" placeholder=" "/>
                                    <label class="form-label" for="formPseudo">Pseudo</label>
                                </div>

                                <!-- Email input -->
                                <div class="form-floating mb-4">
                                    <input formControlName="email" type="email" id="formEmail" class="form-control form-control-lg" placeholder=" "/>
                                    <label class="form-label" for="formEmail">Email</label>
                                </div>

                                <!-- Password input -->
                                <div class="form-floating mb-4">
                                    <input formControlName="password" type="password" id="formPassword" class="form-control form-control-lg" placeholder=" "/>
                                    <label class="form-label" for="formPassword">Mot de passe</label>
                                </div>

                                <!-- Submit button -->
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-secondary btn-block btn-lg gradient-custom-4 text-body">Inscription</button>
                                </div>

                                <!-- Login Redirection -->
                                <p class="text-center text-muted mt-5 mb-0">Tu as déjà un compte ?
                                    <a routerLink="/login" class="fw-bold text-body">
                                        <u>Connecte toi ici </u>
                                    </a>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
