<div class="alert alert-info alert-dismissible"
     *ngIf="notification.type ==='info' && notification.response != ''">
    {{ notification.response }}
    <button type="button" class="btn btn-close" (click)="closeAlert()"></button>
</div>


