<app-carousel></app-carousel>
<div class="row d-flex justify-content-center border border-end-0 border-start-0 border-top-0 my-3"><!-- Zone des Heros en présentation-->
    <h2>Heros</h2>
    <ng-template ngFor let-h [ngForOf]="personage">
        <app-card [class]="format[1]" [big]="true" [name]="h.name" [price]="h.price" [png]="h.iconURL" [id]="h.id" type="personage">
        </app-card>
    </ng-template>
</div>
<div class="row d-flex justify-content-center border border-end-0 border-start-0 border-top-0 my-3"><!-- Zone des Armes en présentation-->
    <h2>Armes</h2>
    <ng-template ngFor let-w [ngForOf]="weaponStatic">
        <app-card  [class]="format[0]" [big]="false" [name]="w.name" [price]="w.price" [png]="w.iconURL" [id]="w.id" type="weapon">
        </app-card>
    </ng-template>
</div>
<div class="row d-flex justify-content-center border border-end-0 border-start-0 border-top-0 my-3"><!-- Zone des Armures en présentation-->
    <h2>Armures</h2>
    <ng-template ngFor let-a [ngForOf]="armorStatic">

        <app-card  [class]="format[0]" [big]="false" [name]="a.name" [price]="a.price" [png]="a.iconURL" [id]="a.id" type="armor">
        </app-card>

    </ng-template>
</div>
