<app-navbar></app-navbar>
<div class="container">
  <app-alert></app-alert>
  <app-article-modal></app-article-modal>
  <app-loot-modal></app-loot-modal>
  <router-outlet>
  </router-outlet>
</div>
<app-footer  class="bg-light"></app-footer>

