.character {
    width: 128px;
    height: 128px;
    overflow: hidden;
    position: relative;
}

.direction0 {
    animation: idleRight 2s steps(18) infinite;
}

.direction1 {
    animation: idleLeft 2s steps(18) infinite;
}

.attack0 {
    animation: attackSpritesheet0 1s steps(12) 1 normal none running;
}

.attack1 {
    animation: attackSpritesheet1 1s steps(12) 1 normal none running;
}


.move0 {
    animation: moveSpritesheet0 1s steps(24) 1 normal none running;
}

.move1 {
    animation: moveSpritesheet1 1s steps(24) 1 normal none running;
}

.hurt0 {
    animation: hurtSpritesheet0 1s steps(12) 1 normal none running;
}

.hurt1 {
    animation: hurtSpritesheet1 1s steps(12) 1 normal none running;
}

@keyframes idleRight {
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0)
    }
}

@keyframes idleLeft {
    from {
        transform: translate3d(0px,0,0) scaleX(-1)
    }
    to {
        transform: translate3d(-100%,0,0) scaleX(-1)
    }
}

@keyframes attackSpritesheet0 {
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0)
    }
}

@keyframes attackSpritesheet1 {
    from {
        transform: translate3d(0px,0,0) scaleX(-1)
    }
    to {
        transform: translate3d(-100%,0,0) scaleX(-1)
    }
}

@keyframes moveSpritesheet0 {
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0)
    }
}

@keyframes moveSpritesheet1 {
    from {
        transform: translate3d(0px,0,0) scaleX(-1)
    }
    to {
        transform: translate3d(-100%,0,0) scaleX(-1)
    }
}

@keyframes hurtSpritesheet0 {
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0)
    }
}

@keyframes hurtSpritesheet1 {
    from {
        transform: translate3d(0px,0,0) scaleX(-1)
    }
    to {
        transform: translate3d(-100%,0,0) scaleX(-1)
    }
}