<div id="board" class="container mt-5" *ngIf="board.background.background !== undefined">
    <div class="row justify-content-center" *ngFor="let _ of [].constructor(5), index as i">
        <div *ngFor="let _ of [].constructor(10), index as j"
             class="col-1 p-0 character"
             [style.background-image]="'url(../../../../assets/images/background/'+board.background.background[i][j+start]+')'">
            <img src="../../../../assets/images/personage/{{getPersonageFromBoard(j+start, i).iconURL}}/idle.png"
                 [width]="128 * 18"
                 style="position: relative; bottom: -20%;"
                 alt="{{getPersonageFromBoard(j+start, i).name}}"
                 class="personage"
                 *ngIf="isPersonage(j+start, i)"
            id="{{getPersonageFromBoard(j+start, i).id}}"/>
            <ng-container *ngIf="isPersonage(j+start, i)">
                <ng-container *ngFor="let action of ['idle', 'attack', 'move', 'hurt']">
                    <img alt="probleme de chargement" src="../../../../assets/images/personage/{{getPersonageFromBoard(j+start, i).iconURL}}/{{action}}.png" style="display: none;"/>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <app-action (newAction)="animAction($event, getHero()!)" (newBoard)="getBackground();getPersonage()"></app-action>
    <app-consumable [heroInventory]="heroInventory"></app-consumable>
    <app-card [heroInventory]="heroInventory"></app-card>
</div>

<!--class="direction{{(getPersonageFromBoard(j+start, i).stats.direction.x === -1)?'1':'0'}}"-->