<div class="container" *ngIf="product != null">
    <!--   row du titre et du file d'ariane     -->
    <div class="row pt-5 mb-5">
        <div class="col-12 h1">Big Heading</div>
    </div>
    <!--   row principal avec l'image, la description et tous     -->
    <div class="row">
        <div class="col-xl-6 col-lg-12">
            <img *ngIf="isPersonage(product)" src="../../../../assets/images/personage/{{product.iconURL}}.png" width="400" class="img-thumbnail-article" alt="img article" >
            <img *ngIf="isWeapon(product)" src="../../../../assets/images/weapon/{{product.iconURL}}.png" width="400" class="img-thumbnail-article" alt="img article" >
            <img *ngIf="isArmor(product)" src="../../../../assets/images/armor/{{product.iconURL}}.png" width="400" class="img-thumbnail-article" alt="img article" >
        </div>
        <div class="col-xl-6 col-lg-12">
            <div class="h2 mb-4">{{product.name}}</div>
            <div class="h3 my-4">{{product.price}} bg</div>
            <div>
                <a id="star1"><i class="bi bi-star-fill"></i></a>
                <a id="star2"><i class="bi bi-star-fill"></i></a>
                <a id="star3"><i class="bi bi-star-fill"></i></a>
                <a id="star4"><i class="bi bi-star-half"></i></a>
                <a id="star5"><i class="bi bi-star"></i></a>
            </div>
            <div class="my-4">
                {{product.description}}
            </div>

            <div class="my-4 d-flex" *ngIf="false">
                <span class="h4">Qty : </span>
                <div class="input-group ms-3 w-20">
                    <button class="btn btn-outline-secondary" type="button" id="quantity-">-</button>
                    <input type="number" class="form-control text-center" value="1" id="quantity" aria-label="Example text with button addon" aria-describedby="button-addon1" min="1">
                    <button class="btn btn-outline-secondary" type="button" id="quantity+">+</button>
                </div>
            </div>
            <div class="d-flex justify-content-evenly">
                <button class="btn btn-outline-dark py-4 w-50 mx-3">Add to Whishlist</button>
                <button (click)="addToCard(productId, productType)" class="btn btn-dark py-4 w-50 mx-3" data-bs-toggle="modal" data-bs-target="#addModal">Add to Card</button>
            </div>
        </div>
    </div>
    <!--   row avec le carousel description/shipping/review     -->
    <div class="row mt-5">
        <div class="col-12">
            <div class="border-bottom d-flex justify-content-between">
                <a href="#" class="carouselButton text-decoration-none text-secondary text-color h5 mb-0" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 0">Détails</a>
                <a href="#" class="carouselButton text-decoration-none text-secondary text-color h5 mb-0" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 1">Review</a>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide mt-3" data-bs-ride="true" data-bs-interval="999999999">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <table class="table table-striped">
                            <tbody *ngIf="isPersonage(product)">
                            <tr>
                                <td>Points de vie</td>
                                <td>{{product.hp}}</td>
                            </tr>
                            <tr>
                                <td>Points d'action</td>
                                <td>{{product.pa}}</td>
                            </tr>
                            <tr>
                                <td>Points de mouvement</td>
                                <td>{{product.pm}}</td>
                            </tr>
                            <tr>
                                <td>Points de force</td>
                                <td>{{product.strength}}</td>
                            </tr>
                            </tbody>
                            <tbody *ngIf="isArmor(product)">
                            <tr>
                                <td>defence</td>
                                <td>{{product.defence}}</td>
                            </tr>
                            </tbody>
                            <tbody *ngIf="isWeapon(product)">
                            <tr>
                                <td>Dommage de l'arme</td>
                                <td>{{product.damage}}</td>
                            </tr>
                            <tr>
                                <td>distance minimum d'attaque</td>
                                <td>{{product.minRange}}</td>
                            </tr>
                            <tr>
                                <td>distance maximum d'attaque</td>
                                <td>{{product.maxRange}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="carousel-item">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi autem consequatur delectus, deserunt eveniet facere in inventore ipsum iure laboriosam magnam nam obcaecati, officia, qui reiciendis sit unde voluptatum.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   row de suggestion     -->
</div>