<div class="d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100 my-3">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Connectez-vous</h2>

                            <form (ngSubmit)="onSubmit()" [formGroup]="connectionDto">
                                <!-- Email input -->
                                <div class="form-floating mb-4">
                                    <input formControlName="username" type="username" id="formUsername" class="form-control form-control-lg" placeholder=" "/>
                                    <label class="form-label" for="formUsername">Email</label>
                                </div>

                                <!-- Password input -->
                                <div class="form-floating mb-4">
                                    <input formControlName="password" type="password" id="formPassword" class="form-control form-control-lg" placeholder=" "/>
                                    <label class="form-label" for="formPassword">Mot de passe</label>
                                </div>

                                <!-- Submit button -->
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-secondary btn-block btn-lg gradient-custom-4 text-body">Connection</button>
                                </div>

                                <!-- Register Redirection -->
                                <p class="text-center text-muted mt-5 mb-0">Pas encore inscrit ?
                                    <a routerLink="/register" class="fw-bold text-body">
                                        <u>Inscrit toi ici</u>
                                    </a>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
